@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.header {
  padding: 8px;
  margin: 8px;
  border: 1px solid #333;
}

.mainContents {
  padding: 8px;
  margin: 8px;
  border: 1px solid #333;
}

.links {
  padding: 8px;
  margin: 8px;
  border: 1px solid #333;
}

.footer {
  padding: 8px;
  margin: 8px;
  border: 1px solid #333;
}
